 <%= form_with(model: @idea, local: true ) do |form| %>
  <div class="form-group">
  <% if @idea.errors.present? %>
    <p class="form-errors">
      <%= @idea.errors.full_messages.join(", ") %>
    </p>
  <% end %>

  <div class="form-group">
    <%= form.label :title,  style: "font-size: 20px"  %> <br />
    <%= form.text_field :title, style: "width: 100%", class: "form-control" %>
  </div>
  <div class="form-group">
  <%= form.label :Body, style: "font-size: 20px" %>
      <%= form.text_area(
        :body,
        cols: 50,
        rows: 5,
        class: "form-control"
      ) %>
  </div>

  <%= form.submit "Create Idea", class: "btn btn-md btn-outline-primary" %>
</div>
  <% end %>

