<!DOCTYPE html>
<html>
  <head>
    <title>Startup Idea Factory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
</head>
<body>
  <header>
  <div class="top-nav">
      <nav class="navbar navbar-expand-lg">
        <a class="nav-item nav-link form-inline"" href="/ideas">
        <div class="brand">
          <i class="far fa-lightbulb"></i> STARTUP IDEA FACTORY
        </div>

        </a>
        <ul class="navbar-nav ml-auto">
          <%= link_to 'New Idea |', new_idea_path, class: "nav-item nav-link form-inline" %>
          <%= link_to 'All Ideas |', ideas_path, class: "nav-item nav-link form-inline" %>
          <% if user_signed_in? %>
            <span class="nav-item  form-inline"> Hello&nbsp<%= current_user.full_name %> |</span>
            <%= link_to "Sign Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"}, class: "nav-item nav-link form-inline" %>
          <% else %>
            <%= link_to "Sign In |", new_sessions_path, class: "nav-item nav-link form-inline" %>
            <%= link_to "Sign Up", new_user_path, class: "nav-item nav-link form-inline" %>
          <% end %>
        </ul>
      </nav>

      </div>
  </header>

  <div class="article">
    <div class="container" >
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>
