<!DOCTYPE html>
<html>
  <head>
    <title>Idea Factory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


  </head>
</head>

<body>
    <header>
   
     <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-item nav-link form-inline"" href="/ideas">
        <img src="https://www.n3rdabl3.com/wp-content/images/uploads/2015/01/Idea-Factory-Logo-Featured-Image.jpg" 
        alt="logo"
        width="225px">
      </a>
      
      <ul class="navbar-nav ml-auto">

       <%= link_to 'New Idea |', new_idea_path, class: "nav-item nav-link form-inline" %> 

       <%= link_to 'All Ideas |', ideas_path, class: "nav-item nav-link form-inline" %>
       

       <% if user_signed_in? %>
         <span class="nav-item  form-inline"> Hello&nbsp<%= current_user.full_name %> |</span> 

          <%= link_to "Sign Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"}, class: "nav-item nav-link form-inline" %> 
       <% else %>

         <%= link_to "Sign In |", new_sessions_path, class: "nav-item nav-link form-inline" %>

         <%= link_to "Sign Up", new_user_path, class: "nav-item nav-link form-inline" %>

       <% end %>

       </ul>

     </nav>


     
  </body>
    </header>

    <div class="card-body">
      <div class="card mb-4"" style="padding: 15px">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      </div>
    </div>
    </main>
  </body>
</html>
